ROOT_URL=

KEYCLOAK_SERVER_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
KEYCLOAK_REALM=

SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=


DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_NAME=


# FLUSK Service
SERVER_URL=
